*{
    margin: 0;
    padding: 0;
}

#header{
    background-image: url(../images/NickFloyd.png);
    height: 150vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a{
    float: right;
    color: #fff !important;
}
.navbar-brand img{
    width: 90px;
    margin-left: 30px;
}
.navbar-toggler{
    border: none !important;
    outline: nonr !important;
}

nav .fa-bars{
    font-size: 30px;
    color: #fff !important;
}

.welcome{
    padding: 50px 100px;
    margin-top: -150px;
    background-color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);

}

.welcome h1{
    color: #520086;
    margin-bottom: 20px;
    border: 1px solid #520086;

}
.welcome .home-button{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color:#520086;
}
.welcome .btn:focus{
    box-shadow: none;
}

#about{
    padding-top: 120px;
    padding-bottom: 100px;
    background-image: url(../images/101.png);
    height: 120vh;
}

#about .col-md-6{
    padding: 20px 10px;
}

#about h1{
    margin: 20px auto;
    color: #fff;
}

.col-md-6 img{
    height: 400px;
    width: 260px;
    border: 5px solid white;
}

.col-md-6 p{
    margin: 30px;
    color: seashell;
}

#projects{
    padding-top: 180px;
    padding-bottom: 120px;
    background: #efefef;
}

#projects .col-md-4{
    padding: 20px;
}

#projects .col-md-4 h3{
    padding: 5px;
    padding-top: 5px ;
}
#projects .col-md-4 img{
    width: 50px;
}
#projects .col-md-4 p{
    padding: 5px;
    text-align: justify;
}

#testimonials{
    
    padding-top: 100px;
    padding-bottom: 100px;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/main.png) ;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    background-attachment:fixed; 
    color: #fff;

}
#testimonials .col-md-4{
    padding: 20px;
}
#testimonials .col-md-4 img{
    width: 200px;
    border: 5px solid  rgb(238, 229, 97) ;
}
#testimonials  h3{
    padding: 5px;
    padding-top: 5px ;
    color: rgb(238, 229, 97);
}

#qualification{
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url(../images/3.png);
    width: 100%;
}

#qualification p{
    color: #123 !important;
    text-align: justify;
    padding: 10px;
}

#qualification .col-md-6 img{
    width: 600px;
}
#qualification  h3{
    padding: 15px ;
}

.subscribe{
    padding:30px 20px ;
    background-color: #520086;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    margin-bottom: -160px;
}

.subscribe h3{
    color: #fff;
}

.subscribe .input-group{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;

}
.subscribe .form-control{
    border: none;
    background: transparent;

}

.subscribe .form-control:focus{
    box-shadow: none;
    background: transparent;
    
}
.subscribe .input-group-append{
background-image: linear-gradient(to right, #1c03bf,#5c8bef);
border-radius: 30px;
    
}
.subscribe .input-group-text{
    background: transparent;
    border:none;
    color: #fff;     
}

.subscribe .btn:focus{
   box-shadow: none;    
}

#footer{
    margin-top: 80px;
    padding: 80px;
    background-color: #520086;
    color: #fff;
}

.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer h1{
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer p{
    font-size: 15px;
    text-align: left;
}

#footer .city{
    margin-left: 37px;
}

#footer .fa{
   padding-right: 20px;
   font-size: 15px;
}
#footer hr{
  margin-top: 10px;
  border: 1px solid #fff;
}

 #footer .fa-heart-o{
    color:yellow;
    font-size: 17px;
}
#footer .copyright{
    margin-bottom: -18px;
    text-align: center;
    font-size: 15px;
}